<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <form action="/v1/users/passwordGet/" method="POST">
      <label>Enter your new Password</label>
      <input id="token" name="token" type="hidden" value="<%= data %>">
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Change Password">
    </form>
  </body>

</html>
